#! /bin/bash

set -eux

REPO="ccr.ccs.tencentyun.com/apache/airflow"
TAG="dev"
IMAGE="$REPO:$TAG"

build (){
    cp Dockerfile ../../incubator-airflow/Dockerfile
    cd ../../incubator-airflow
    git pull
    docker build -t $IMAGE .
    rm Dockerfile
}
push (){
    docker push $IMAGE
}

case "$1" in
build)
    build
	;;
push)
    push
	;;
up)
    build
    push
	;;
*)
	echo "usage:$0 [build|push|up]\n"
	exit 1
esac

exit 0



